<h1><%=@farm.name%></h1>

<h3>Farm Type: <%=@farm.farm_type%></h3>
<h3>Acres: <%=@farm.acres%></h3> <br>
<h3>Farm Workers: <ul> <%@farm.workers.each do |worker| %>
    <li><%= link_to worker.name, worker_path(worker) %></li>
    <%end%>
    </ul>
<br>

<%=link_to "Farm Index Page", farms_path%> <br>
<%=link_to "Edit this Farm", edit_farm_path(@farm)%> <br>
<%=link_to "Delete this Farm", farm_path(@farm), "method" => :delete %>