<h1><%=@worker.name%></h1>

<h3>Experience: <%=@worker.yrs_experience%></h3>
<br>
<h3>Farms Working For: <ul> <%@worker.farms.each do |farm| %>
    <li><%= link_to farm.name, farm_path(farm) %></li>
    <%end%>
    </ul>
<br>

<%=link_to "Worker Index Page", workers_path%>
<br> 

<%=link_to "Edit this Worker", edit_worker_path(@worker)%>
<br>

<%=link_to "Terminate Employment", worker_path(@worker), 'method' => :delete %>